<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="JobScheduler" connectionString="data source=localhost;Initial Catalog=JobScheduler;Persist Security Info=True;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>